[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coxstream"]
	path = coxstream
	url = https://github.com/tommycarstensen/coxstream-r
